
 body{
    margin: 0;
}

.header {
    position: fixed;
    z-index: 2;
    width: 100vw;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

/* HEADER */
@import "layout/header";

/* MAIN */
/* HERO */
@import "components/hero";


// .swot  
    @import "components/swot";
// .team
    @import "components/team";

/* MAIN*/
/* Equipo + Fortalezas + Debilidades*/
h2 {
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
    line-height: 45px;
    color: #099d8d;
    text-transform: uppercase;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
}

h3 {
    font-family: 'Rubik', sans-serif;
    font-size: 22px;
    color: #099d8d;
}
/*Quienes somos*/

@import 'components/who';

@import "layout/footer";

