
 body{
    margin: 0;
}

.header {
    position: fixed;
    z-index: 2;
    width: 100vw;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

/* HEADER */
@import "layout/header";

/* MAIN */
/* HERO */
@import "components/hero";



.team {
    text-align: center;
    display:flex;
    flex-direction: column;
}

.wrapper {
    padding: 15px;
}

.team__container {
    background-color: #ffffff;
    }

// .swot  
    @import "components/swot";
  

.wrapper.triangle {
    position: relative;
}

.triangle {
    position: relative;
    width: 100vw;
}

.triangle__figure {
    position: absolute;
    border: 15px solid transparent;
    border-top-color: white;
    height: 0;
    width: 0;
    left: 50%;
    transform: translate(-50%);
  
}

.team__container--title {
 color: #14d9c4;
 text-transform: uppercase;
 }

/* MAIN*/
/* Equipo + Fortalezas + Debilidades*/
h2 {
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
    line-height: 45px;
    color: #099d8d;
    text-transform: uppercase;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
}

h3 {
    font-family: 'Rubik', sans-serif;
    font-size: 22px;
    color: #099d8d;
}
/*Quienes somos*/

@import 'components/who';

// h4 {
//     font-family: 'Open Sans', sans-serif;
//     font-size: 20px;
// }

// .who {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center; 
//     margin-bottom: 0;
// }

// .who__list {
//     padding: 0;
// }

// .who__list--element {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     margin: 0;
//     padding: 0;
// }

// .who__list--img {
//     margin: 30px 70px 15px;
//     width: 180px;
//     border: 5px solid rgba(0,0,0,0.08);
//     border-radius: 10px;
// }

// .who__list--name {
//     margin: 0 85.5px 0 87.5px;
//     text-align: center;
// }

// .who__list--description {
//     margin: 0 15px;
//     text-align: center;
// }

// .sm__list {
//     display: flex;
//     justify-content: space-around;
//     align-items: center;
//     padding: 0;
//     width: 150px;
//     height: 30px;
//     margin: 15px 98px;
//     color: #099d8d;
// }

// .sm__list--icon {
//     width: 20px;

// }

// .icon {
//     position: relative;
// }

// i {
//     color: #099d8d;
// }

// .icon::after {
//     content: "·";
//     margin: 0 6px 0 6px;
//     position: absolute;
//     top: 50%;
//     left: 100%;
//     transform: translate(0,-50%);
// }

// .last-one::after {
//     visibility: hidden;
// }

/*FOOTER */

@import "layout/footer";

