<header class="header">
    <div class="hadder__container-title wapper">
        <a href="../index.html#page"><i class="fas fa-rocket"></i></a>
        <a href="index.html"><h1 class="header__title">chaika</h1> </a>
    </div>
    <nav class="header__nav">
        <ul class="header__nav--menu">
            <li><a href="../index.html#team-link">Equipo</a></li>
            <li><a href="../index.html#who-we-are-link">Quiénes somos</a></li>
            <li><a href="#contact-link">Contacto</a></li>
        </ul>
    </nav>
</header>