<main class="main__form">
    <h1 class="form__title">Contacto</h1>
    <div class="form__description">
        <p class="description__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias quia, maxime repellat eveniet quos id qui!
            Libero eos tenetur</p>
        <small class="small-text">Todos los campos marcados con <span class="asterisk" >*</span> son obligatorios</small>
    </div>
    <div class="form__container">
        <form class="contact__form" action="/signup" method="post">
            <label class="fullName" for="fullName">Nombre completo <span class="asterisk">*</span></label>
            <input class="box" type="text" id="fullName" name="fullName" placeholder="Nombre..." required>
            <label for="emailAddress">Email <span class="asterisk">*</span></label>
            <input class="box" type="email" id="emailAddress" name="emailAddress" required value="nombre.apellidos@mail.com">
            <label for="telephone">Telefono </label>
            <input class="box" type="tel" id="telephone" name="telephone" placeholder="Ej:123456789">
            <label for="comments">Mensaje <span class="asterisk">*</span></label>
            <textarea class="box" name="comments" id="comments" cols="80" rows="8" placeholder="¿Qué necesitas?" required></textarea>
            <input class="btn" type="submit" value="Enviar">
        </form>
    </div>
</main>