<header class="header">
        <div class="hadder__container-title">
            <a href="../index.html#page"><i class="fas fa-rocket"></i></a>
           <a href="index.html"><h1 class="header__title">chaika</h1> </a>
        </div>
        <nav class="header__nav">
            <ul class="header__nav--menu">
                <li><a href="index.html">Equipo</a></li>
                <li><a href="index.html">Quiénes somos</a></li>
                <li><a href="contact_form.html">Contacto</a></li>
            </ul>
        </nav>
    </header>