<footer>
    <div class="footer wrapper">
        <p class="copyright"> Chaika&copy;2019 </p>
        <div class="footer__menu">
            <ul class="footer__menu--list">
                <li class="element"><a href="#equipo">equipo</a></li>
                <li class="element"><a href="#quienes-somos">quiénes somos</a></li>
                <li class="element"><a href="">contacto</a></li>

            </ul>
        </div>
        <div class="logo wrapper">
            <a href="https://adalab.es/" target="_blank"><img class="logo-adalab" src="assets/images/logo-adalab.svg"
                    alt="Logo"></a>
        </div>
    </div>
</footer>