<aside class="swot">
    <div class="swot__strengs wrapper">
        <h3 class="swot__strengs--title">Fortalezas</h3>
        <p>Un equipo internacional formado por profesionales con experiencia en diferentes sectores, que
            consigue aportar un valor añadido a su perfil como nuevas programadoras Front-end formadas
            en Adalab. Chaika es cross-funcional y afronta con dedicación e ilusión los nuevos retos
            consiguiendo resultados óptimos.
        </p>
    </div>
    <div class="swot__weaknesses wrapper">
        <h3 class="swot__weaknesses--title">Debilidades</h3>
        <p class="swot-text2">La poca experiencia en el sector tecnológico permite a Chaika mantener una actitud abierta
            que proporcione el producto una perspectiva diferente y única.
        </p>
    </div>
</aside>