<section class="team">
    <div class="team__container wrapper">
        <h2 class="team__container--title" id="equipo">equipo</h2>
        <p>Chaika fue el apodo de la astronauta rusa Valentina Tereshkova, la primera mujer en conquistar el
            espacio. En pleno año 1963 Tereshkova se embarcó sola en un viaje al espacio que, sin su valentía y
            persistencia, le hubiera llevado a una muerte segura. Tras detectar un fallo en los cálculos que
            determinaban la orientación de la nave y comunicarlo a la Tierra, el equipo se mantuvo escéptico y
            se negó en un principio a revisar los datos. Finalmente, al recibir la información corregida, la
            astronauta consiguió redirigir de manera manual la nave y llegar sana y salva al planeta azul. Esta
            heroína sirve hoy de inspiración a este grupo de cinco mujeres. Si buscas un perfil tecnológico en
            continuo aprendizaje, con adaptación al cambio constante y que de una perspectiva novedosa a tu
            producto, Chaika es una apuesta segura.
        </p>
    </div>
    <div class="triangle">
        <div class="triangle__figure"></div>
    </div>
</section>