<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chaika</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Rubik:400,500" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
    <header class="header">
        <partial src="_header.html"></partial>
    </header>
    <main class="main"></main>
    <partial src="_hero.html"></partial>
    <section class="team">
        <div class="team__container wrapper">
            <h2 class="team__container--title" id="equipo">equipo</h2>
            <p>Chaika fue el apodo de la astronauta rusa Valentina Tereshkova, la primera mujer en conquistar el
                espacio. En pleno año 1963 Tereshkova se embarcó sola en un viaje al espacio que, sin su valentía y
                persistencia, le hubiera llevado a una muerte segura. Tras detectar un fallo en los cálculos que
                determinaban la orientación de la nave y comunicarlo a la Tierra, el equipo se mantuvo escéptico y
                se negó en un principio a revisar los datos. Finalmente, al recibir la información corregida, la
                astronauta consiguió redirigir de manera manual la nave y llegar sana y salva al planeta azul. Esta
                heroína sirve hoy de inspiración a este grupo de cinco mujeres. Si buscas un perfil tecnológico en
                continuo aprendizaje, con adaptación al cambio constante y que de una perspectiva novedosa a tu
                producto, Chaika es una apuesta segura.
            </p>
        </div>
        <div class="triangle">
            <div class="triangle__figure"></div>
        </div>
        <partial src="_swot.html"></partial>
    </section>
    <partial src="_who.html"></partial>
    </main>
    <footer>
        <partial src="_footer.html"></partial>
    </footer>
</body>
</html>