/*Equipo*/
.team {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.wrapper {
  padding: 15px;
}

.team__container {
  background-color: white;
}

@media all and (min-width: 768px) {
  .team__container p {
    margin: 0 80px 40px;
  }
}

@media all and (min-width: 1200px) {
  .team__container p {
    margin: 0 180px 40px;
  }
}

.wrapper.triangle {
  position: relative;
}

.triangle {
  position: relative;
  width: 100vw;
}

.triangle__figure {
  position: absolute;
  border: 15px solid transparent;
  border-top-color: white;
  height: 0;
  width: 0;
  left: 50%;
  transform: translate(-50%);
}

.team__container--title {
  color: #14d9c4;
  text-transform: uppercase;
}
