/*Quienes somos*/
.who__title {
  text-align: center;
}

.who__list--name {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  margin: 0;
  text-align: center;
}

.who__list {
  padding: 0;
  text-align: center;
  margin: 1px;
  padding: 0;
  background-color: salmon;
}

.sm__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 150px;
  height: 0;
  color: #2d3635;
  margin: 30px;
}
.sm {
  background-color: red;
  margin: auto;
}

.card {
  display: grid;
  background-color: blue;
  @media all and (min-width: 768px) {
  }
}

@media all and (min-width: 768px) {
  .who__list {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-bottom: 44px;
  }

}

@media all and (min-width: 1200px) {
}

.who__list--img {
  width: 180px;
  border: 5px solid rgba(0, 0, 0, 0.08);
  border-radius: 10px;

  @media all and (min-width: 768px) {
    width: 205px;
    margin: 0 31px 0 0;
    grid-column: 2/3;
  }

  @media all and (min-width: 1200px) {
    width: 278px;
    margin: 0 45px 0 0;
  }
}

.icon {
  position: relative;
}

i {
  color: #099d8d;
}

.icon::after {
  content: "·";
  margin: 0 6px 0 6px;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(0, -50%);
}

.last-one::after {
  visibility: hidden;
}
