/*HEADER*/
.header {
    position: fixed;
    z-index: 2;
    width: 100vw;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.hadder__container-title {
    margin: 0;
    height: 40px;
    background-color:#099d8d;
    opacity: 0.95;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-rocket {
    color: white;
    margin-right: 10px;
    
    animation-duration: 1s;
    animation-name: intro;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes intro {
    from {
      transform: scale(5) rotate(-45deg) translateX(-30px) translateY(-10px);
      opacity: 0;

    }
  
    to {
      transform: scale(1);
      opacity: 1;
    }
  }

.header__title {
    color: white;
    margin: 0;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    line-height: 40px;
    text-transform: uppercase;
}

.header__nav  {
    height: 40px;
    background-color: #14d9c4;
    opacity: 0.90;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    line-height: 30px;
}

.header__nav--menu {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    line-height: 40px;
}

.header__nav--menu a {
    color: white;
    text-transform: uppercase;
}

@media all and (min-width: 768px) {
    .header {
        background-color:#099d8d;
        height: 60px;
        opacity: 0.95;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .hadder__container-title {
        padding-left: 45px;
    }
    .header__nav {
        background: none;
        padding-right: 45px;
        width: auto;
        align-self: center;
    }
    .header__nav--menu li {
        padding-left: 18px;
    }
}