@media all and (min-width: 768px) {
    .header {
        background-color:#099d8d;
        height: 60px;
        opacity: 0.95;
        display: flex;
        justify-content: space-between;

    }
    .header__title {
        padding-left: 45px;
        line-height: 30px;
        display: flex;
        align-items: center;
        align-self: center;
    }
    .header__nav {
        background: none;
        padding-right: 45px;
        width: auto;
        align-self: center;
    }
    .header__nav--menu li {
        padding-left: 18px;
    }
}